/* :global {
    @import "tailwindcss/base";
    @import "tailwindcss/components";
    @import "tailwindcss/utilities";
  } */

.Form-container{
  display: flex;
  flex-direction: column;
  background-color:aliceblue;
  padding: 50px;
  border-radius:25px;
  width: 100%;
}

.form-body {
  background-color: rgb(46, 62, 77);
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 50%;
  align-self: center;

}

.form-body button{
  width: 75px;
  align-self: center;
  margin-top: 10px;
}


.input-field-container {
  background-color: rgb(195, 202, 208);
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}


.Form-container h1,h3{
  align-self: center;
  padding: 0;
  margin: 0;
}

.Form-container h3{
  margin-bottom: 10px;
}



.input-field-container{
  display: flex;
  flex-direction: column;
}

.input-field{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





